/* General Settings  */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

aggiungere QUI max-widht 1200px e width 90%
main {
  margin: auto;
}

.clearfix::after{
  content: '';
  display: table;
  clear: both;
}

/* Header */

header {
  background-color: #AED8E6;
  padding: 10px 0px;
}

/* ha un clearfix perche la sua altezza dipenderà dal contenuto al suo interno */
.main-bar {
  background-color: #DAA520;
  height: 50px;
  width: 90%;
  max-width: 1200px;
  margin: auto;
  display: flex;
}

.top-logo {
  width: 20%;
  height: 50px;
}

.top-nav {
  width: 60%;
}

.top-cta {
  height: 50px;
  width: 20%;
}

.top-logo, .top-nav {
  border-right: 1px solid black;
}

/* MAIN */

main .sec {
  height: 400px;
  display: flex;
}

main .container {
  width: 60%;
  margin: auto;
  height: 300px;
  align-items: center;
  display: flex;
  background-color: lightblue;
}

.space-left, .space-right {
  border: 1px solid black;
}

/* prima sezione  */

main .sec.blue {
  background-color: blue;
}

main .first-info-box {
  background-color: #EF82EE;
  width: 50%;
  margin: auto;
  height: 300px;
  align-items: center;
}

/* seconda sezione  */

main .box-white .space-right {
  background-color: #FFC1CC;
  width: 40%;
  height: 300px;
}

main .box-white .space-left {
  background-color: #1E90FF;
  width: 60%;
  height: 300px;
}

/* terza sezione */

main .gray.sec {
  background-color: lightgray;
}

main .box-gray .space-right {
  background-color: #1E90FF;
  width: 60%;
  height: 300px;
}

main .box-gray .space-left {
  background-color: #FFC1CC;
  width: 40%;
  height: 300px;
}

/* la quarta sezione è identica alla seconda */

/* quinta sezione (piu grande) */