/* General Settings  */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* aggiungere QUI max-widht 1200px e width 90% */
main {
  margin: auto;
}

.clearfix::after{
  content: '';
  display: table;
  clear: both;
}

/* Header */

header {
  background-color: #AED8E6;
  padding: 10px 0px;
}

/* ha un clearfix perche la sua altezza dipenderà dal contenuto al suo interno */
.main-bar {
  background-color: #DAA520;
  height: 50px;
  width: 90%;
  max-width: 1200px;
  margin: auto;
  display: flex;
}

.top-logo {
  width: 20%;
  height: 50px;
}

.top-nav {
  width: 60%;
}

.top-cta {
  height: 50px;
  width: 20%;
}

.top-logo, .top-nav {
  border-right: 1px solid black;
}

/* MAIN */

main .sec {
  /* display: flex; */
  padding: 30px 0;
}

main .container {
  width: 60%;
  margin: auto;
  height: 300px;
  display: flex;
  background-color: lightblue;
}

.space-left, .space-right {
  border: 1px solid black;
}

/* prima sezione  */

main .sec.blue {
  background-color: blue;
}

main .first-info-box {
  background-color: #EF82EE;
  width: 50%;
  margin: auto;
  height: 300px;
  align-items: center;
}

/* seconda sezione  */

main .box-white .space-right {
  background-color: #FFC1CC;
  width: 40%;
  height: 300px;
}

main .box-white .space-left {
  background-color: #1E90FF;
  width: 60%;
  height: 300px;
}

/* terza sezione */

/* background che serve come riferimento struttura */
main .gray.sec {
  background-color: lightgray;
}

main .box-gray .space-right {
  background-color: #1E90FF;
  width: 60%;
  height: 300px;
}

main .box-gray .space-left {
  background-color: #FFC1CC;
  width: 40%;
  height: 300px;
}

/* la quarta sezione è identica alla seconda */

/* quinta sezione (piu grande) */
main .box-green {
  width: 60%;
  height: 500px;
  background-color: green;
  margin: auto;
  }

/* Footer */
footer {
  background-color: #23272A;
  padding-top: 10px;
  padding-bottom: 20px;
}
  
footer .column {
  width: 60%;
  margin: auto;
  height: 300px;
  display: flex;
  background-color: lightblue;
}

footer .col {
  border: 1px solid white;
  background-color: #20B2AB;
  flex-grow: calc(100/5)
}

footer .col-left {
  background-color: #F08080;
  width: 30%;
}

/* copyright section  */

